:root {
    --bg-feature-color: rgba(61, 66, 78, 0.2);
    --bg-main-color: rgb(61, 66, 78);
    --secondary-color: rgba(255,255,255,0.9);
    --highlight-color: rgb(242, 124, 253);
    --font-color: rgb(229, 241, 252);
    --link-color: rgb(192, 181, 181);
}