@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background: var(--bg-feature-color);
}

.header .links {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.link {
  font-family: 'Major Mono Display', monospace;
  text-decoration: none;
  color: var(--link-color);
}

.footer {
  padding: 1rem 0;
  background: var(--bg-feature-color);
}