@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');

/* Remove browser scrollbar */
:root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.projects::-webkit-scrollbar {
  width: 1em;
}

.projects::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.projects::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
  outline: 1px solid slategrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-color);
  color: black;
  font-size: 1rem;
  font-family: 'Sulphur Point', sans-serif;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  margin-right: 2rem;
  height: 20vh;
  color: var(--font-color);
  background-image: linear-gradient(180deg, white 30%, rgba(255,255,255,0.8) 55%, rgba(255,255,255,0.1) 75%, rgba(255,255,255,0) 100%);
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;

  .links {
    margin: 1rem 0;
    margin-right: -2rem;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-main-color);
    position: relative;
    clip-path: polygon(2.5% 0, 100% 0, 100% 100%, 0 100%);
    z-index: 2;
    span {
      margin-right: 1rem;
    }
    .link-icons a:first-child {
      margin-right: 1rem;
    }
  }
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .faded-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-image: linear-gradient(to bottom, white 55%, rgba(255,255,255,0.1) 95%);
    z-index: 1;
  }

  .toggler {
    position: absolute;
    top: 10px;
    left: calc(100vw - 50px);
    z-index: 5;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;

    &:checked {
      & + .burger-menu > div {
      transform: rotate(45deg);
      background: white;
        &::after {
          transform: rotate(85deg);
          top: 0;
          background: white;
        }
        &::before {
          display: none;
        }
      }
      & ~ .menu {
        opacity: 0.98;
      }
    }
  }
  .burger-menu {
    position: absolute;
    top: 10px;
    left: calc(100vw - 50px);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  
    div {
      position: absolute;
      width: 80%;
      height: 5px;
      background: var(--bg-main-color);
      transition: transform 400ms ease-in-out;
  
      &::before, &::after {
        position: absolute;
        content: '';
        top: -10px;
        width: 100%;
        height: 5px;
        background: var(--bg-main-color);
      }
  
      &::after {
        top: 10px;
      }
    }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: var(--bg-main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 400ms ease;
  z-index: 1;
}

  .menu-item {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child {
      margin-top: 0;
    }
  }
}

.main-content {
  width: 100vw;
  margin: 80px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects {
    .scroll-top {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url('https://cdn1.iconfinder.com/data/icons/media-icons-23/100/top-512.png');
      background-size: 100%;
      opacity: 0.7;
      margin-bottom: 3rem;
      cursor: pointer;
    }

    .project-container {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      padding: 3rem;
      margin-bottom: 2rem;
      background: rgba(0,0,0,0.05);
      border-radius: 4px;

      .preview img {
        width: 100%;
      }
      .project-links {
        display: flex;
        justify-content: space-around;
        a {
          width: 50%;
          text-align: center;
          color: black;
        }
      }
    }
  }
}

.fader {
  transform: translateX(50vw);
  opacity: 0;
  transition: 
  transform 650ms ease-out, 
  opacity 750ms ease-out;
}

.appear {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 600px) {

  .header {
    display: flex;
    font-size: 1rem;
    height: 10vh;
  }

  .menu-wrap {
    .faded-header {
      display: none;
    }
    .burger-menu {
      display: none;
    }
    .menu {
      opacity: 1;
      width: 25vw;
      max-width: 180px;
      transform: rotate(7deg);
      position: relative;
      justify-content: flex-start;
      padding-top: 20vh;

      .menu-items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        .menu-item {
          font-size: 1.6rem;
          transform: rotate(-7deg);
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -10vh;
        right: 0;
        width: 150%;
        height: 150%;
        background: var(--bg-main-color);
      }
    }
  }

  .main-content {
    width: calc(100vw - 280px);
    margin-top: 100px;

    .projects {
      max-width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .project-container {
        margin: 0 auto 5rem;
      }
    }
  }
}

@media screen and (min-width: 2200px) {
  body {
    font-size: 3rem;
  }

  .header {
    .links {
      font-size: 2rem;
    }
  }

  .menu-wrap .menu {
    max-width: 320px;
    .menu-items .menu-item {
    font-size: 2.6rem;
    }
  }

  .main-content {
    margin-top: 200px;
    .projects {
      max-width: 100%;
      margin-left: 10%;
      .project-container {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 2800px) {
  body {
    font-size: 4rem;
  }

  .header {
    .links {
      font-size: 3.6rem;
    }
  }

  .menu-wrap .menu .menu-items .menu-item {
    font-size: 3.6rem;
  }

  .main-content .projects {
    margin-left: 0;
  }
}
  // .main-content {
  //   width: 100vw;
  //   height: 100vh;
  //   padding-top: 3rem;
  //   padding-left: 20vw;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .projects {
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  //   a {
  //     color: black;
  //   }
  // }

  // .project-container {
  //   display: grid;
  //   justify-content: flex-start;
  //   grid-template-columns: 50vw 10vw;
  //   grid-template-rows: auto;
  //   grid-template-areas: 'HEADING HEADING' 'PREVIEW LIVE' 'PREVIEW CODE';
  //   margin: 3rem 0 3rem 7rem;
  // }

  // .project-container:last-child {
  //   margin-bottom: 4rem;
  // }

  // .fader {
  //   transform: translateX(50vw);
  //   opacity: 0;
  //   transition: 
  //   transform 650ms ease-out, 
  //   opacity 750ms ease-out;
  // }

  // .live {
  //   grid-area: LIVE;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding-top: 3rem;
  // }

  // .code {
  //   grid-area: CODE;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding-bottom: 3rem;
  // }

  // .live a, .code a {
  //   padding: 0;
  //   margin: 0;
  //   color: black;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .prv {
  //   grid-area: PREVIEW;
  //   display: flex;
  //   justify-content: center;
  //   padding: 2rem;
  //   background: rgba(0,0,0,0.1);
  // }

  // .prv img {
  //   max-width: 100%;
  // }

  // .appear {
  //   transform: translateX(0);
  //   opacity: 1;
  // }

  // .text-center {
  //   display: flex;
  //   justify-content: center;
  // }
  // .text-center h4 {
  //   color: black;
  //   margin-bottom: 2rem;
  //   text-decoration: underline;
  //   cursor: pointer;
  // }



  // .header .links span, .header .links img {
  //   margin-right: 1rem;
  // }

  // .header .links a {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .menu {
  //   position: fixed;
  //   transform: rotate(7deg);
  //   top: -25px;
  //   bottom: 0;
  //   left: 3rem;
  //   min-width: 250px;
  //   height: calc(100vh + 55px);
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   padding-top: 10rem;
  //   align-items: flex-end;
  //   background: var(--bg-main-color);
  //   opacity: 1;
  //   z-index: 2;
  // }

  // .menu::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 95%;
  //   height: 120vh;
  //   width: 200%;
  //   background: var(--bg-main-color);
  // }

  // .menu::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: -20px;
  //   height: 60px;
  //   width: 100%;
  //   background: var(--bg-main-color);
  //   background: red;
  //   transform: rotate(-8deg);
  // }

  // .menu .menu-item {
  //   position: relative;
  //   transform: rotate(-7deg);
  //   z-index: 3;
  //   font-size: 1.5rem;
  //   margin: 1rem 2rem 2rem 0rem;
  //   text-decoration: none;
  //   color: white;
  // }

  // .active {
  //   color: var(--highlight-color);
  // }

  // .scroller-bar {
  //   position: absolute;
  //   top: 0;
  //   right: -20px;
  //   width: 20px;
  //   height: 45px;
  //   background: var(--highlight-color);
  //   border-left: 2px solid white;
  //   clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
  // }

