@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');

/* Remove browser scrollbar */
:root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
  font-family: 'Sulphur Point', sans-serif;
}

h1, h2 {
  color: black;
}


.App {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.main-content {
  width: 70vw;
  margin-top: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects a {
  color: black;
}

.preview {
  grid-area: PREVIEW;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: rgba(0,0,0,0.1);
}

.preview img {
  max-width: 100%;
}

.live {
  grid-area: LIVE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.code {
  grid-area: CODE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.live a, .code a {
  padding: 0;
  margin: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: grid;
  grid-template-columns: 50vw 10vw;
  grid-template-rows: auto;
  grid-template-areas: 'HEADING HEADING' 'PREVIEW LIVE' 'PREVIEW CODE';
  margin: 3rem 0;
}

.project-container:last-child {
  margin-bottom: 4rem;
}

.fader {
  transform: translateX(50vw);
  opacity: 0;
  transition: 
  transform 650ms ease-out, 
  opacity 750ms ease-out;
}

.prv {
  grid-area: PREVIEW;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: rgba(0,0,0,0.1);
}

.prv img {
  max-width: 100%;
}

.appear {
  transform: translateX(0);
  opacity: 1;
}

.text-center {
  display: flex;
  justify-content: center;
}
.text-center h4 {
  color: black;
  margin-bottom: 2rem;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 9rem;
    color: var(--font-color);
    background-image: linear-gradient(to bottom, white, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.1) 90%, rgba(255,255,255,0) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
  }

  .header .links {
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-main-color);
    position: relative;
    clip-path: polygon(2.5% 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .links span, .header .links img {
    margin-right: 1rem;
  }

  .header .links a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    position: fixed;
    transform: rotate(7deg);
    top: -25px;
    bottom: 0;
    left: 3rem;
    width: 150px;
    height: calc(100vh + 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40vh;
    background: var(--bg-main-color);
    z-index: 2;
  }

  .menu::before {
    content: '';
    position: absolute;
    top: 0;
    right: 95%;
    height: 100vh;
    width: 200%;
    background: var(--bg-main-color);
  }

 .menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 60px;
    width: 100%;
    background: var(--bg-main-color);
    transform: rotate(-8deg);
  }

  .menu .menu-item {
    position: relative;
    transform: rotate(-7deg);
    z-index: 3;
    font-size: 1.5rem;
    margin: 1rem 2rem 2rem 0rem;
    text-decoration: none;
    color: white;
  }

  .active {
    color: var(--highlight-color);
  }

  .scroller-bar {
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 45px;
    background: var(--highlight-color);
    border-left: 2px solid white;
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
  }

}

@media screen and (min-width: 2600px) {
  body {
    font-size: 3rem;
  }

  .App {
    justify-content: center;
  }

  .header {
    padding-top: 3rem;
  }

  .menu {
    width: 250px;
    left: 5rem;
  }
/* 
  .menu::before {
    left: -5rem;
  } */

  .menu .menu-item {
    font-size: 3.5rem;
  }

  .projects {
    padding: 0 0 0 10rem;
  }
}